@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

/* We use own font and custom h1-h6 to have standardized styles across the web*/
* {
  font-family: 'Quicksand', sans-serif;
  --lavantru-pink: #ffe6de;
  --lavantru-green: #0f7d80;
  --lavantru-red: #b8627d;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
  /* or 140% */
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
}

h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
}

h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
}

.App {
  position: relative;
  min-height: 100vh;
}

footer {
  background: var(--lavantru-pink);
  color: var(--lavantru-green);
  font-size: large;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 7rem;
}

footer a {
  margin: 0 1rem 0 1rem;
  font-size: large;
  text-decoration: none;
  color: var(--lavantru-red)
}

footer a:hover {
  text-decoration: none;
  color: var(--lavantru-green);
}

.lavantruPink {
  color: var(--lavantru-red)
}

.lavantruGreen {
  color: var(--lavantru-green)
}

/* NavBar */
.navbar {
  background-color: var(--lavantru-pink);
  padding: 10px;
}

.navbar .title {
  color: var(--lavantru-green);
}

.navbar .title:hover {
  text-shadow: 0px 0px 1px black;
}

.navbar .image {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: 2px solid;
  border-color: var(--lavantru-green);
  object-fit: cover;
}

/* bootstrap div container */
.container {
  text-align: left;
}

/* Google button START */
#customGoogleBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customGoogleBtn:hover {
  cursor: pointer;
}

span.googleIcon {
  background: url('./asset/btn_google_light_normal_ios.svg') transparent no-repeat;
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.googleButtonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

/* Google button END */

.loginLink {
  text-decoration: underline;
  font-weight: bold;
}

.loginLink:hover {
  cursor: pointer;
}

.redError {
  color: red;
}

/* Generic button used at all pages */
.button-green,
.button-green:hover,
.button-green:active,
.button-green:focus,
.button-green:active:focus {
  background-color: var(--lavantru-green) !important;
  border: none !important;
  box-shadow: none !important;
  padding: 8px 20px;
  text-transform: none !important;
}

/* Generic button used at all pages */
.button-pink,
.button-pink:hover,
.button-pink:active,
.button-pink:focus,
.button-pink:active:focus {
  background-color: var(--lavantru-red) !important;
  border: none !important;
  box-shadow: none !important;
  padding: 8px 20px;
  text-transform: none !important;
}

/* Google button START */
#customGoogleBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customGoogleBtn:hover {
  cursor: pointer;
}

span.googleIcon {
  background: url('./asset/btn_google_light_normal_ios.svg') transparent no-repeat;
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.googleButtonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* Google button END */
.profile {
  color: var(--lavantru-green);
}

.profile .image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid;
  border-color: var(--lavantru-green);
  object-fit: cover;
  margin: 16px;
}

.profile .header {
  border-bottom: 1px solid;
  border-bottom-color: var(--lavantru-red);
  background: var(--lavantru-pink);
}

.orderHeader {
  margin-left: 1rem;
  margin-right: 1rem;
}

.order {
  color: var(--lavantru-green);
}

.order .header {
  font-size: larger;
  background-color: var(--lavantru-green);
  color: var(--lavantru-pink);
}

.order .footer {
  background-color: white;
  color: var(--lavantru-pink);
}

.order .unitImage {
  margin-left: 30px;
  height: 100px;
  width: 100px;
}

.order .btn {
  float: right;
}

.priceCol {
  text-align: right;
  font-size: 1.3em;
}

.washerList .washerListItem {
  border-bottom: 1px solid;
  border-bottom-color: var(--lavantru-red);
  color: var(--lavantru-green);
}

.washerListItem:hover {
  background: var(--lavantru-pink);
}

.washerListItem .unitImage {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid;
  border-color: var(--lavantru-green);
  object-fit: cover;
  margin: 16px;
}

.washerListItem .unitLaundryJobs {
  border-radius: 10px;
  background-color: #b8617c;
  color: var(--lavantru-pink);
  white-space: nowrap;
  width: fit-content;
  padding: 4px 8px;
}

.washerListItem .content {
  width: 100% !important;
}

.washerList .filter {
  border: 1px solid;
  border-color: var(--lavantru-red);
  border-radius: 10px;
  white-space: nowrap;
  width: fit-content;
  padding: 4px 8px;
  font-size: 16px;
  line-height: 28px;
}

.washerList .border-bottom {
  border-bottom: 1px solid #b8627d !important;
}

.sort-left {
  border: 1px solid;
  border-color: var(--lavantru-red);
  border-radius: 10px 0px 0px 10px;
  font-size: 16px;
  line-height: 28px;
  padding: 4px 8px;
}

.sort-right {
  border: 1px solid;
  border-color: var(--lavantru-red);
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  line-height: 28px;
  padding: 4px 8px;
}

.sort-active {
  background-color: var(--lavantru-red);
  color: var(--lavantru-pink);
}

.pinkBackground {
  background-color: var(--lavantru-pink);
}

.schedule .pinkBackground:hover {
  background-color: #b8617c;
}

.greenBackground {
  background-color: var(--lavantru-green);
}

.schedule .greenBackground:hover {
  background-color: #15b1b7;
}

span.iconExtraNotes {
  background: url("./asset/icon/extra_notes.svg") transparent no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.clickable {
  cursor: pointer;
}

.fpriceCol {
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.wash-cycle-tooltip>.tooltip-inner {
  background-color: #ffe6de;
  color: #0f7d80;
  border: 1px solid #0f7d80;
}

.wash-cycle-tooltip .arrow:before {
  border-right-color: #0f7d80 !important;
}

.wash-cycle-p {
  float: right;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: #ffe6de;
  color: #0f7d80;
  padding: 6px 12px;
  text-align: right;
}

.washerMap {
  height: 60vh;
}

.washerOrWashee {
  text-align: center;
  width: 50%;
  /* align-self: center; */
  margin: auto;
}

.wash-icon {
  /* cursor: pointer; */
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 40px;
  overflow: hidden;
}

.favorite-icon {
  background-color: filter();
  cursor: pointer;
  float: left;
  margin-top: 10px;
  width: 30px;
  overflow: hidden;
}

.rating-icon {
  background-color: filter();
  float: left;
  width: 30px;
  overflow: hidden;
}

.icon-text {
  font-size: 200px;
}

.schedule {
  text-align: center;
  width: 100%;
}

.schedule .box {
  /* margin:10px !important; */
  /* border-spacing: 10px !important; */
  /* min-height:; */
  padding: 15px;
  border: 10px solid white;
}

.activeCell {
  background-color: #15b1b7;
}

.schedule .time {
  text-align: center;
  width: 70px;
}

.dashboard {
  text-align: center;
  color: var(--lavantru-green);
}

.dashboard .image {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.dashboard .card {
  width: 230px;
  height: 145px;
}

.dashboard .header {
  background-color: var(--lavantru-green);
  color: var(--lavantru-pink);
}

.notifications {
  background-color: var(--lavantru-red);
  border-radius: 50%;
  color: var(--lavantru-pink);
  text-align: center;
  position: absolute;
  min-width: 22px;
  padding: 3px;
  height: 22px;
  font-weight: bold;
  line-height: 18px;
  margin: 0px -3px;
}

.washeeOrderList {
  text-align: left;
}

.washeeOrderList .item {
  border-bottom: 1px solid;
  border-bottom-color: var(--lavantru-red);
  background: var(--lavantru-pink);
}

.washeeOrderList .image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid;
  border-color: var(--lavantru-green);
  object-fit: cover;
  margin: 12px;
}

.delivery-left {
  width: 210px;
  border: 1px solid;
  border-color: var(--lavantru-red);
  border-radius: 10px 0px 0px 10px;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  padding: 4px 8px;
  margin-left: 30px;
}

.delivery-right {
  width: 210px;
  border: 1px solid;
  border-color: var(--lavantru-red);
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  padding: 4px 8px;
}

.delivery-active {
  background-color: var(--lavantru-red);
  color: var(--lavantru-pink);
}

.iw-content {
  color: var(--lavantru-green);
}

.orderDetails {
  color: var(--lavantru-green);
}

.orderDetails .icon {
  height: 30px;
  width: 30px;
  margin: 7px 10px;
}

.orderDetails .rowText {
  padding: 8px 0px;
  margin: 0px
}
.orderDetails .rowTextChildLevel1 {
  padding: 0px 0px;
  margin: 0px 66px;
}
.orderDetails .rowTextChildLevel2 {
  padding: 0px 0px;
  margin: 0px 82px;
}

.orderDetails .profileImage {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid;
  border-color: var(--lavantru-green);
  object-fit: cover;
}
