@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lavantruPink{
  color:#b8627d
}
.lavantruGreen{
  color:#0f7d80
}

/* NavBar */
.navbar{
  background-color: #ffe6de; 
  padding: 15px;
  font-size: larger;
}

/* bootstrap success button */
.btn-success{
  background-color: #208487;
  border-color: #208487;
}
.btn-success:hover{
  background-color: #62dfe3;
  border-color: #62dfe3;
}

/* bootstrap danger button */
.btn-outline-danger{
  color: #b8627d;
  border-color: #b8627d;
}
.btn-outline-danger:hover{
  background-color: #b8627d;
  border-color: #b8627d;
}

/* bootstrap div container */
.container{
  text-align: left;
}

/* Currently used at login */
.button-green,
.button-green:hover,
.button-green:active,
.button-green:focus,
.button-green:active:focus
{
  background-color: #0f7d80 !important;
  border: none !important;
  box-shadow: none !important;
}

.button-pink,
.button-pink:hover,
.button-pink:active,
.button-pink:focus,
.button-pink:active:focus
{
  background-color: #b8627d !important;
  border: none !important;
  box-shadow: none !important;
}

/* Google button START */
#customGoogleBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customGoogleBtn:hover {
  cursor: pointer;
}
span.googleIcon {
  background: url('./asset/btn_google_light_normal_ios.svg') transparent no-repeat;
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.googleButtonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
/* Google button END */

.loginLink{
  text-decoration: underline;
  font-weight: bold;
}
.loginLink:hover{
  cursor: pointer;
}
.redError{
  color: red;
}
/* Currently used at login */
.button-green,
.button-green:hover,
.button-green:active,
.button-green:focus,
.button-green:active:focus
{
  background-color: #0f7d80 !important;
  border: none !important;
  box-shadow: none !important;
}

.button-pink,
.button-pink:hover,
.button-pink:active,
.button-pink:focus,
.button-pink:active:focus
{
  background-color: #b8627d !important;
  border: none !important;
  box-shadow: none !important;
}

/* Google button START */
#customGoogleBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customGoogleBtn:hover {
  cursor: pointer;
}
span.googleIcon {
  background: url('./asset/btn_google_light_normal_ios.svg') transparent no-repeat;
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat; */
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.googleButtonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
/* Google button END */

.loginLink{
  text-decoration: underline;
  font-weight: bold;
}
.loginLink:hover{
  cursor: pointer;
}
.redError{
  color: red;
}

.profile{
  color: #0f7d80;
}
.profile .image {
 border-radius: 50%;
 height: 150px;
 width: 150px;
 border: 5px solid #0f7d80;
 object-fit: cover;
 margin: 10px;
}
.profile .header{
  background-color: #ffe6de;
  border-radius: 4px;
  overflow: overlay;
}

.orderHeader{
  margin-left: 1rem;
  margin-right: 1rem;
}

.priceCol{
  text-align: right;
  font-size: 1.3em;
}

.washerList{
  width: max-content;
}

.washerList .washerListItem{
  border-bottom: 0.5px solid grey;
  margin-top: 10px;
  padding-bottom: 35px;
  color: #0f7d80;
}

.washerListItem .unitImage {
 float: left;
 border-radius: 50%;
 height: 140px;
 width: 140px;
 border: 5px solid #0f7d80;
 object-fit: cover;
 margin-top: 15px;
 margin-right: 2px;
 margin-left: 10px;


}

.washerListItem .align-details{

  text-align: left;


}

.washerListItem .align-name{
  font-size: x-large;
  font-weight: 500;
  margin-top: 15px;

}

.washerListItem .align-city {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 0.5%;
}

.washerListItem .align-jobs
{
  margin-left: inherit;
  height: auto;
  width: fit-content;
  padding-left: 0.2%;
  margin-top: 3px;
  white-space: nowrap;

}




.washerListItem .unitLaundryJobs {

  text-align: left;
  border-radius: 10px;
  /* border: 1px solid #b8617c; */
  background-color: #b8617c;
  font-size: small;
  color: #ffe6de;
  white-space: nowrap;
  width: fit-content;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  /* margin: 2px; */
}

  .washerListItem .align-button{
    vertical-align: middle;
  }
span.iconExtraNotes{
  background: url("./asset/extra_notes.svg") transparent no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
.clickable{
  cursor: pointer;
}