@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBar */
.navbar{
  /* background-color: #b8627d; */
  /* background-color: #0f7d80;*/
  background-color: #ffe6de; 
  padding: 15px;
  font-size: larger;
}

/* bootstrap success button */
.btn-success{
  background-color: #208487;
  border-color: #208487;
}
.btn-success:hover{
  background-color: #62dfe3;
  border-color: #62dfe3;
}

/* bootstrap danger button */
.btn-outline-danger{
  color: #b8627d;
  border-color: #b8627d;
}
.btn-outline-danger:hover{
  background-color: #b8627d;
  border-color: #b8627d;
}

/* bootstrap div container */
.container{
  text-align: left;
}